@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
i.icon{
    font-size: 2em;
}
.container.main{
    margin-top:5em;
}
.products{
    position: relative;
    margin-top: 5em;
}

#delete{
 display: inline;
}

#flash{
margin-top: 5em;
margin-bottom:-4em;
margin-left: 5em;
margin-right: 5em;
}

.navbar-brand{
    padding-left: 10px;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
    letter-spacing: 3px;
}

.navbar-custom{
    background: linear-gradient(to right, #6a040f, #dc2f02);
    
}

.nav-link{
    color: #ffffff;
    font-family: sans-serif;
}

.item{
    color: white;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .material-icons{
      font-size: 10px;
  }