<%- include("partials/header") %>

<div class="products">
    <form method="GET" action="/products">
        <p>Your order has been placed click ok to continue</p>
        <button>OK</button>
    </form>
</div>

<%- include("partials/footer") %>