<%- include("partials/header") %>
<div class="products">
<form action="/verify" method="POST">
<input type="text" name="token">
<button>submit</button>
</form>
</div>
<%- include("partials/footer") %>